<td>
  <span>
    <span class="coverage-kind"><%= mixed_case(enrollment.coverage_kind) %></span> | # <%= l10n('dep_covered') %>: <%= enrollment.humanized_dependent_summary %>
  </span>
  <br/>
  <span>
    <%= enrollment.plan.carrier_profile.legal_name %> -- <%= enrollment.plan.name %>
  </span>
  <br/>
</td>
<td>
  <span>
    <%= l10n('employer_contribution') %>: <%= number_to_currency enrollment.total_employer_contribution %>
  </span>
  <br/>
  <span>
    <%= l10n('ee_contribution') %>: <%= number_to_currency enrollment.total_employee_cost %>
  </span>
  <br/>
  <strong><%= l10n('total').to_s.capitalize %>:</strong> <%= number_to_currency enrollment.total_premium %></td>
</td>
