<% if @employee.errors.any? %>
  <div class="alert alert-error">
    <h4><%= pluralize(@employee.errors.count, "error") %> <%= l10n('employee.ee_prohibited') %></h4>
    <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      <% @employee.embedded_error_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!--

 -->

<div class="col-md-11 col-sm-12 col-xs-12">
  <h3><%= l10n('personal_information') %></h3>
  <div id="overlay"></div>
    <div id="personal_info" class="focus_effect row personal-info-row" style="opacity: 0.5;">
      <div class="col-md-10 no-pd col-sm-9 col-xs-12 first">

        <%= f.fields_for :person, errors: {}, fieldset: false do |name|  %>
          <%= render 'shared/name_fields', f: name %>
        <% end %>

        <%= render 'shared/id_info_fields', f: f %>

        <%= render 'shared/error_warning' %>
      </div>

      <div class="col-md-2 key no-pd-right col-sm-3 col-xs-12" style="display: none;">
        <a href="#" class="btn btn-save <%=pundit_class EmployerProfile,:updateable?%>"><%= l10n('save_exit') %></a>
        <p class="top-pad">
          <span><%= l10n('employees.pi_secure') %></span>
          <span><i></i></span>
        </p>
      </div>
    </div>

    <br>

    <%= f.fields_for @person.addresses, errors: {}, fieldset: false do |address|  %>
      <%= render 'shared/address_fields', f: address %>
    <% end %>

    <br>

    <%= f.fields_for @person.phones, errors: {}, fieldset: false do |phone|  %>
      <%= render 'shared/phone_fields', f: phone %>
    <% end %>

    <br>

    <%= f.fields_for @person.emails, errors: {}, fieldset: false do |email|  %>
      <%= render 'shared/email_fields', f: email %>
    <% end %>

    <div class="focus_effect row personal-info-row" style="opacity: 0.5;">
      <div class="">
        <div class="col-md-10 col-sm-9 no-pd">
        </div>
        <div class="col-md-2 col-sm-3 no-pd">
          <a href="#" class="btn disable-btn <%=pundit_class EmployerProfile,:updateable?%>"><%= l10n('continue') %></a>
        </div>
      </div>
    </div>

    <div class="autofill-cloud autofill-initial hidden">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= image_tag 'autofill-cloud.png' %>
          <span class="close"></span>
        </div>
        <p>
          <%= l10n('employees.auto_fill_info') %>
        </p>
        <a href="#" class="btn btn-ok autofill_yes"><%= l10n('yes') %></a>
        <div class="clearfix"></div>
        <a href="#" class="btn btn-cancel autofill_no"><%= l10n('no') %> <%= l10n('thanks') %></a>
      </div>
    </div>
    <div class="autofill-cloud autofill-failed hidden">
      <div class="row">
        <div class="col-md-12 text-center">
          <%= image_tag 'autofill-cloud-failed.png' %>
          <span class="close"></span>
        </div>
        <p>
          <%= l10n('employees.match_error') %>
        </p>
        <a href="#" class="btn btn-try-again btn-primary"><%= l10n('try_again') %></a>
      </div>
    </div>
    <div class="less-opacity hidden">
      <%= image_tag 'autofill-cloud.png' %>
      <p><%= l10n('auto_fill') %></p>
    </div>
  </div>
