<h2 class="text-heading"><%= l10n('edit') %> <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= l10n('devise.registrations.waiting_for_confirmation') %> <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i><%= l10n('devise.registrations.leave_blank_message') %></i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i><%= l10n('devise.registrations.changing_pswd_message') %></i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit l10n('update') %>
  </div>
<% end %>

<h3><%= l10n('devise.registrations.cancel_account') %></h3>

<p>Unhappy? <%= button_to l10n('devise.registrations.cancel_account'), registration_path(resource_name), data: { confirm: l10n('confirm') }, method: :delete %></p>

<%= link_to l10n('back'), :back %>
