<%= form_for(:user, :url => session_path(:user)) do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-signin">
        <h2 class="form-signin-heading"><%= l10n('please_sign') %></h2>
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: l10n('email_address'), id: "inputEmail" %>
        <%= f.password_field :password, class: "form-control", placeholder: l10n('password'), id: "inputPassword" %>
        <div class="checkbox">
          <label>
            <%= f.check_box :remember_me, value: "remember-me" %> <%= l10n('remember_me') %>
          </label>
        </div>
        <%= f.submit l10n('.create_account'), class: "btn btn-lg btn-primary btn-block" %><br>
        <b><%= l10n('or') %></b> <br><br>
        <%= link_to l10n('.create_account'), new_registration_path(resource_name), class: "btn btn-lg btn-primary btn-block" %>
      </form>
    </div>
  </div>
<% end %>

