<h3><%= l10n(employer)%> <%= l10n('employers.census_employees.details')%> </h3>

<%= l10n('name') %>: <%= @employer.legal_name %> </br>
<%= l10n('fein') %>: <%= @employer.fein %> </br>
<%= l10n('entity_kind') %>: <%= @employer.entity_kind %>

</br>
</br>

<%= link_to l10n('back'), employers_employer_index_path %> &nbsp;&nbsp;
<%= link_to l10n('destroy'),  @employers_employer,  method: :delete, confirm: "l10n('confirm')"  %>

<hr/>

<%= link_to l10n('employers.census_employees.add_er_census_family'), new_employers_employer_family_path(@employer), class: "btn btn-primary" %> &nbsp;&nbsp;

<h3><%= l10n('er_roster')%> </h3>
<table border = "1", width = "400">
  <tr>
    <th> <%= l10n('ee_name')%> </th>
    <th> <%= l10n('dob')%> </th>
    <th> <%= l10n('hire_date')%> </th>
    <th>  </th>
  </tr>

<% @employer.employee_families.each do |family| %>
  <tr>
    <td> <%= link_to name_to_listing(family.census_employee), employers_employer_family_path(@employer.id, family.id) %> </td>
    <td> <%= format_date family.census_employee.dob %> </td>
    <td> <%= format_date family.census_employee.hired_on %> </td>
    <td> <%= link_to l10n('delete'), employers_employer_family_path(@employer.id, family.id), confirm: l10n('employers.census_employees.del_family'), method: :delete %> </td>
  </tr>
<% end %>
</table>