<div class="employee-upload">
  <i class="fa fa-times fa-3x pull-right modal-close"></i>
  <h4> <strong> <%= l10n('employers.employer_profiles.spreadsheet_format_error') %></strong> </h4>
  <%= link_to(document_download_path(env_bucket_name("templates"), aca_shop_market_census_employees_template_file) + "?contenttype=application/vnd.ms-excel&filename=#{aca_shop_market_census_employees_template_file}.xlsx", class: "download") do %>
      <h4><%= l10n('employers.employer_profiles.need_template') %> <i class="fa fa-arrow-circle-o-down fa-lg"></i>
            <%= l10n('broker_agencies.quotes.download_it_now') %>
      <% end %>
  </h4>
  <h4> <strong> <%= l10n('employers.employer_profiles.still_issue') %> </strong> </h4>
  <%= link_to "Back To Employee Roster", "/employers/employer_profiles/#{params[:employer_profile_id]}?tab=employees", class: 'btn btn-primary fa fa-chevron-left' %>
</div>