<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p><%= l10n('employers.employer_profiles.er_list_missing_text') %></p>
  </div>
</div>
<% Array(@employer_profile).each do |employer_profile| %>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= form_for(employer_profile, :url => employers_employer_profiles_path, :as => :employer_profile, :method => :post, :remote => true) do |f| %>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <dl class="dl-horizontal">
              <dt><%= l10n('hbx_profiles.employer_name') %></dt>
              <dd><%= employer_profile.legal_name %></dd>

              <dt><%= l10n('entity_kind') %></dt>
              <dd><%= employer_profile.entity_kind %></dd>

              <dt><%= l10n('fein').to_s.downcase %></dt>
              <dd><%= employer_profile.fein %></dd>

              <dt><%= l10n('dba') %></dt>
              <dd><%= employer_profile.dba %></dd>
            </dl>
          </div>

          <div class="col-md-2 col-sm-2 col-xs-12"></div>

          <div class="col-md-4 col-sm-4 col-xs-12 no-pd text-right">
            <%= f.submit l10n('my_er'), :class => "btn btn-primary" %>
            <%= f.hidden_field :fein %>
            <%= f.hidden_field :legal_name %>
            <%= f.hidden_field :entity_kind %>
            <%= f.hidden_field :dba %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
