<div class="container content-bottom">

	<div class="row">
    <div class="col-xs-12 col-sm-9">
	  <h1>
		  <%= l10n('employers.employer_profiles.er_login_success') %>
	  </h1>
    <p class="twenty">
      <%= l10n('employers.employer_profiles.poc_confirm_text') %>
    </p>
	  <p class='twenty'>
	    <%= l10n('employers.employer_profiles.staff_role_status_text') %>
	  </p>
   </div>
  </div>

	<%= render "shared/organization_staff_search", f: f %>
	<%= render "shared/person_contact", f:f %>

	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-12">
      <h3><%= l10n('er_info') %></h3>

      <div class="row">
        <div class="col-sm-12">
          <%= render "shared/organizations/entity_name_and_type_fields_autofill", f: f, entity_kinds: Organization::ENTITY_KINDS %>
        </div>
        <div class="col-sm-12">
          <%= render "shared/office_locations", f: f %>
        </div>
        <div class="col-sm-12">
          <%= render "employer_contact_preferences", f: f %>
        </div>
		  </div>

      <div class="row">
        <div class="col-sm-12 pull-right mrg-top">
          <button type="submit" class="btn btn-primary pull-right"><%= l10n('save') %></button>
        </div>
      </div>
	  </div>
  </div>

<input type="hidden" name="employer_id" id="employer_id" />
</div>

