<table class="col-md-12 table-bordered">
  <tbody>
    <% @organizer.family_members.each_with_index do |family_member, index| %>
    <%= hidden_field_tag("family_member_ids[#{index}]", family_member.id) if true%>
      <% if @organizer.can_shop_shop %>
        <% is_health_coverage, is_dental_coverage = @organizer.coverage_eligibility[@organizer.benefit_group.id.to_s][family_member.id.to_s] %>
      <% end %>

      <%#= is_checked = is_member_checked?(benefit_type, is_health_coverage, is_dental_coverage, is_ivl_coverage) %>

      <tr>
        <td class="table-cell">
        <h4><strong><%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(calculate_age_by_dob(family_member.dob), 'year')})") %></strong></h4>
        </td>
      </tr>

      <% if can_display_health_coverage?(is_health_coverage) %>
        <tr>
          <td class="table-cell"> <%= label_tag("family_member_ids[#{index}]",  "Health Coverage") %> </td>
        </tr>
        <tr>
          <td class="table-cell">
            <div class="radio-container">
              <div class="radio-input">
                <%= radio_button_tag("shopping_members[health][#{family_member.id}]", 'enroll') %>
                <%= label_tag("health[enroll][#{index}]", "Enroll") %>
              </div>
              <div class="radio-input">
                <%= radio_button_tag("shopping_members[health][#{family_member.id}]", 'waive') %>
                <%= label_tag("health[waive][#{index}]", "Waive") %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>

      <% if can_display_dental_coverage?(is_dental_coverage) %>
        <tr>
          <td class="table-cell"> <%= label_tag("family_member_ids[#{index}]",  "Dental Coverage") %> </td>
        </tr>
        <tr>
          <td class="table-cell">
            <div class="radio-container">
              <div class="radio-input">
                <%= radio_button_tag("shopping_members[dental][#{family_member.id}]", 'enroll') %>
                <%= label_tag("dental[enroll][#{index}]", "Enroll") %>
              </div>
              <div class="radio-input">
                <%= radio_button_tag("shopping_members[dental][#{family_member.id}]",  'waive') %>
                <%= label_tag("dental[waive][#{index}]", "Waive") %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      <% @organizer.person.active_employee_roles.each do |employee_role| %>
        <% is_health_coverage, is_dental_coverage = @organizer.coverage_eligibility[@organizer.benefit_group.id.to_s][family_member.id.to_s] %>

        <td class='<%= "health_errors_#{employee_role.id}" %>'><%= l10n("insured.group_selection.coverage_household_ineligible_coverage", coverage_kind: @coverage_kind)  if !is_health_coverage && !is_health_coverage.nil? %></td>
        <td class='<%= "dental_errors_#{employee_role.id}" %>'><%= l10n("insured.group_selection.coverage_household_ineligible_coverage", coverage_kind: @coverage_kind)  if !is_dental_coverage && !is_dental_coverage.nil? %></td>
      <% end %>
      <tr class="spliter"></tr> 
    <% end %>
  </tbody>
</table>
