<table class="col-md-12">
  <tbody>
    <% @organizer.family_members.each_with_index do |family_member, index| %>
    <%= hidden_field_tag("family_member_ids[#{index}]", family_member.id) if true%>
      <% if @organizer.can_shop_shop %>
        <% is_health_coverage, is_dental_coverage = @organizer.coverage_eligibility[@organizer.benefit_group.id.to_s][family_member.id.to_s] %>
      <% end %>

      <tr style="padding: 2px;">
        <td style="padding: 2px;">
        <h4><strong><%= label_tag("family_member_ids[#{index}]", "#{family_member.full_name} (Age : #{pluralize(calculate_age_by_dob(family_member.dob), 'year')})") %></strong></h4>
        </td>
      </tr>

      <% if can_display_health_coverage?(is_health_coverage) %>
        <tr style="padding: 2px;">
          <td style="padding: 2px;"> <%= label_tag("family_member_ids[#{index}]",  "Health Coverage") %> </td>
        </tr>
        <tr style="padding: 2px;">
          <td style="padding: 2px;">
            <%= radio_button_tag("shopping_members[health][#{family_member.id}]", 'enroll', checked: true) %>
            <%= label_tag("health[enroll][#{index}]", "Enroll") %>
          </td>
        </tr>
        <tr>
          <td style="padding: 2px;">
            <%= radio_button_tag("shopping_members[health][#{family_member.id}]", 'waive') %>
            <%= label_tag("health[waive][#{index}]", "Waive") %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td class='<%= "member_health_errors_#{family_member.id}" %>' data-cuke='member_health_error'><%= l10n("insured.group_selection.coverage_household_ineligible_coverage", coverage_kind: 'health') %></td>
        </tr>
      <% end %>

      <% if can_display_dental_coverage?(is_dental_coverage) %>
        <tr style="padding: 2px;">
          <td style="padding: 2px;"> <%= label_tag("family_member_ids[#{index}]",  "Dental Coverage") %> </td>
        </tr>
        <tr>
          <td style="padding: 2px;">
            <%= radio_button_tag("shopping_members[dental][#{family_member.id}]", 'enroll', checked: true) %>
            <%= label_tag("dental[enroll][#{index}]", "Enroll") %>
          </td>
        </tr>
        <tr>
          <td style="padding: 2px;">
            <%= radio_button_tag("shopping_members[dental][#{family_member.id}]",  'waive') %>
            <%= label_tag("dental[waive][#{index}]", "Waive") %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td class='<%= "member_dental_errors_#{family_member.id}" %>' data-cuke='member_dental_error'><%= l10n("insured.group_selection.coverage_household_ineligible_coverage", coverage_kind: 'dental') %></td>
        </tr>
      <% end %>

      <tr style="padding: 2px;">
        <td style="padding: 2px;"> <hr style="height:2px;border-width:0;color:gray;background-color:#80808026"></td>
      </tr>
    <% end %>
  </tbody>
</table>
