<%= render partial: "notices/shared/cover", :locals => {notice: notice} %>
<%= render partial: 'notices/shared/logo' %>
<%= render partial: "notices/shared/address", :locals => {notice: notice} %>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td font-size:11px !important;><%= TimeKeeper.date_of_record.strftime('%m/%d/%Y') %></td>
  </tr>
  </tbody>
</table>

<table class="total_table" border="0">
  <tbody>
  <tr>
    <td>Dear <%= notice.employer_name %>:  </td>
  </tr>
  </tbody>
</table>

<%= render partial: 'notices/shared/paragraph', :locals => {
                                                      content: "Your employee open enrollment period closed on #{notice.plan_year.open_enrollment_end_on} and your group did not meet the eligibility requirement listed below. As a result, your group is not eligible to obtain employer-sponsored health insurance effective #{notice.plan_year.start_on} at this time. "} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
                                                      content: "<strong>#{notice.plan_year.warnings.join(' AND/OR ')}</strong>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
                                                      content: "You are able to reapply for employer-sponsored coverage for a later coverage effective date at any time through <a href='www.MAhealthconnector.org'>MAhealthconnector.org</a>. Please note that you must meet the following requirements to be eligible to obtain employer-sponsored health insurance through the Health Connector:
                                                      <ul><li>At least seventy-five (75) percent of your eligible employees enroll in your group health coverage or waive due to having other coverage. </li>
                                                      <li>At least one non-owner employee enrolls in health coverage.</li></ul>"} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
                                                      content: "If you are unable to satisfy the minimum participation requirement, you will only be able to offer Health Connector coverage during the special annual enrollment period at the end of each year, during which employers can offer group health coverage effective January 1st without contributing 50% to employees’ premiums or 33% to family member premiums, if offered, or meeting the seventy-five (75) percent minimum participation requirement. You are still required to have at least one non-owner enroll in coverage during the January 1 exception period. If you are unable to meet these requirements by the end of the employee open enrollment period, the Health Connector will send a notice at the end of open enrollment with information on next steps."} %>

<%= render partial: 'notices/shared/paragraph', :locals => {
                                                      content: "If you do not have any eligible non-owner employees to enroll and therefore cannot qualify for employer-sponsored coverage, you can apply for coverage through the Individual and Families market based on each individual(s) state of residence."} %>

<%= render partial: 'notices/shared/paragraph_with_headers', :locals => {
                                                                   contents: ["Please contact your broker for further assistance.  You can also contact Health Connector with any questions:"],
                                                                   heading: 'For Questions or Assistance:', sub_heading: ''} %>



<table class="total_table" border="0">
  <tbody>
  <tr>
    <td>
      <ul style="list-style: circle solid;">
        <li style="margin-top: 5px;">
          By calling 1-888-813-9220
        </li>
        <li style="margin-top: 5px;">
          TTY: 711
        </li>
        <li style="margin-top: 5px;">
          Online at MAhealthconnector.org
        </li>
      </ul>
    </td>
  </tr>
  </tbody>
</table>


<% if notice.broker.present? %>
    <%= render partial: 'notices/shared/broker_contact_info', :locals => {broker: notice.broker} %>
<% else %>
    <%= render partial: 'notices/shared/paragraph', :locals => {
                                                          content: "If you do not currently have a broker, you can reach out to one of our many ained experts by clicking on the “Find a Broker” link in your employer account or calling #{Settings.contact_center.phone_number} or TTY: 711."} %>
<% end %>

<%= render partial: 'notices/shared/paragraph', :locals => {
                                                      content: "This notice is being provided in accordance with 45 CFR 155.715(e)"} %>


<div class="page_break">
  <table class="mar20" border="0">
    <tbody>
    <tr>
      <td><h2 style="text-decoration:underline;">Massachusetts Health Connector Small Group Employer Appeal Rights</h2></td>
    </tr>
    <tr>
      <td style="font-size:11px !important;">If you do not agree with our decision about whether or not you are an eligible employer, you have a right to appeal our decision and receive a hearing. Employers have the right to appeal a denial of eligibility, the failure of Health Connector to provide a timely eligibility determination, or the failure of the Health Connector to provide a timely notice of an eligibility determination.</td>
    </tr>
    <tr class="mar20">
      <td style="font-size:11px !important;">You have 90 days following the postmark of the notice informing you of the eligibility decision, denial, termination, or change, to appeal the decision stated in the notice you received. If you do not appeal within 90 days, you may lose your appeal right.</td>
    </tr>
    </tbody>
  </table>
  <table border="0" style="margin-top: 20px">
    <tbody>
    <tr>
      <td style="color:rgb(54,95,145); font-size:14px !important;  font-weight: bold;margin-bottom: 10px; ">How to Request an Appeal</td>
    </tr>
    <tr>
      <td style="font-size:11px;">You may appeal by completing a Health Connector Small Group Request for Hearing Form, available at <a href="www.mahealthconnector.org/business/employers/resources/appeals">www.mahealthconnector.org/business/employers/resources/appeals</a> </td>
    </tr>
    <tr class="mar20">
      <td>The form can be mailed or faxed.</td></tr>
      <tr><td><strong>Mail:</strong> Health Connector Appeals Unit, PO Box 960189, Boston, MA 02196</td></tr>
      <tr><td><strong>Fax:</strong> 1-617-933-3099</td>
    </tr>
    </tbody>
  </table>


  <table style="margin-top: 20px" border="0">
    <tbody>
    <tr>
      <td style="color:rgb(54,95,145); font-size:14px !important;  font-weight: bold; margin-bottom: 10px;">What Happens When You Appeal</td>
    </tr>
    <tr>
      <td  style="font-size:11px !important;">Once your appeal is received, it simultaneously triggers both an informal and formal review process.</td>
    </tr>
    <tr>
      <td style="font-size:11px !important;"><strong><span style="font-style: italic;"> Informal Review</span></strong> – You may be contacted by a staff member within the Health Connector to review your eligibility and enrollment history with the intent of exploring whether your appeal can be resolved short of a formal hearing. Engaging in this informal review is optional both for you and for the Health Connector.
      </td>
    </tr>
    <tr><td style="font-size:11px !important;">
      <strong><span style="font-style: italic;">Hearing</span></strong> - You will be scheduled for a hearing before an independent hearing officer. The hearing will take place telephonically. The Health Connector will contact you and tell you when and where your hearing will take place. The Health Connector will send you a scheduling order, including the time and date of your hearing.
    </td></tr>
    <tr>
      <td style="font-size:11px !important;">
        At the hearing, you can testify, have others testify for you, and submit documents. At the hearing, the hearing officer will also ask questions of you and any other people who testify. After completion of the hearing, the hearing officer will make a decision in writing and sent it to you. The decision will also tell you what you can do if you do not agree with the decision.
      </td>
    </tr>
    <tr>
      <td style="font-size:11px !important;">
        <strong>Any decisions by a hearing officer about your eligibility as an employer might also change the eligibility of your employees and their dependents.</strong>
      </td>
    </tr>
    </tbody>
  </table>

  <table style="margin-top: 20px" border="0">
    <tbody>
    <tr>
      <td style="color:rgb(54,95,145); font-size:14px !important;  font-weight: bold; margin-bottom: 10px; ">Ending your Appeal Early</td>
    </tr>
    <tr>
      <td style="font-size:11px !important;">
        You may withdraw your request for a hearing at any time before the hearing officer makes a final written decision. This includes before the hearing, potentially as a result of your informal resolution with the Health Connector. To withdraw your request for a hearing, you must send a written withdrawal request, including your name and case number, to the Health Connector by mail, e-mail, or fax.
      </td>
    </tr>
    <tr>
      <td style="font-size:11px !important;">
        You may withdraw your request for a hearing at any time before the hearing officer makes a final written decision. This includes before the hearing, potentially as a result of your informal resolution with the Health Connector. To withdraw your request for a hearing, you must send a written withdrawal request, including your name and case number, to the Health Connector by mail, e-mail, or fax.
      </td>
    </tr>
    <tr>

      <td class="mar20"><strong>Mail:</strong> Health Connector Appeals Unit, PO Box 960189, Boston, MA 02196</td></tr>
     <tr> <td><strong>Email:</strong> <a href="mailto:connector-appeals@state.ma.us">connector-appeals@state.ma.us</a></td></tr>
      <tr><td><strong>Fax:</strong> 1-617-933-3099</td>
    </tr>
    <tr>
      <td class="mar20">
        If you withdraw your request for a hearing because the Health Connector has promised to change its decision, we will implement the new Health Connector decision. <strong>If you stop your appeal before the Health Connector has changed its decision, the eligibility determination will be implemented as it is written in the notice you first received before you filed your appeal.</strong>
      </td>
    </tr>
    </tbody>
  </table>

</div>



