<div id="change-password" class="container top-pd module">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-xs-12">
    <h1><%= l10n('devise.passwords.change_your_pswd') %></h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, l10n('devise.passwords.new_pswd') %><br />
        <%= f.password_field :password, autofocus: true, class: "form-control" %>
      </div>
      <div id="pswd_info" class="tooltip_box" style="display: none;">
        <p>><%= l10n('devise.passwords.password_error_text') %></p>
        <ul>
          <li id="length" class="valid"><%= l10n('devise.passwords.min_char_error') %></li>
          <li id="longer" class="invalid"><%= l10n('devise.passwords.length_error') %></li>
          <li id="lower" class="valid"><%= l10n('devise.passwords.lowercase_error') %></li>
          <li id="upper" class="invalid"><%= l10n('devise.passwords.uppercase_error') %></li>
          <li id="number" class="invalid"><%= l10n('devise.passwords.min_number_error') %></li>
          <li id="spec_char" class="invalid"><%= l10n('devise.passwords.special_chars_error') %></li>
          <li id="mtt" class="invalid"><%= l10n('devise.passwords.duplicate_special_chars_error') %></li>
          <li id="wh_space" class="valid"><%= l10n('devise.passwords.blank_space_error') %></li>
        </ul>
       </div>

      <div class="form-group">
        <br />
         <%= f.label :password_confirmation, l10n('devise.passwords.confirm_new_pswd') %>
            <span class="pull-right con-pass"></span>
            <br />
        <%= f.password_field :password_confirmation, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group form-group-actions">
       <%= f.submit l10n('devise.passwords.change_my_pswd'), class: "btn btn-primary sm_full_width" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<script type="text/javascript">
  $(document).on('ready page:load', function () {
    Register.initialize();
  });
</script>