<style type="text/css">
  
</style>

<div class="container" id="employer_applications_table">
  <div class = "table-responsive table-override"> 
  <h4 class="text-center heading-text"> <%= l10n("exchange.employer_applications.applications").titleize %> </h4>
  <% benefit_applications = @benefit_sponsorship.benefit_applications.non_expired %>
  <% if benefit_applications.present? %>
    <table class="table">
      <thead>
        <tr>
         <th></th>
         <th><%= l10n("exchange.employer_applications.start_date")%></th>
         <th><%= l10n("exchange.employer_applications.end_date")%></th>
         <th><%= l10n("exchange.employer_applications.oe_start")%></th>
         <th><%= l10n("exchange.employer_applications.oe_end")%></th>
         <th><%= l10n("exchange.employer_applications.created_on")%></th>
         <th><%= l10n("exchange.employer_applications.terminated_on")%></th>
         <th><%= l10n("exchange.employer_applications.status")%></th>
         <th></th>
        </tr>
      </thead>
      <tbody>
        <% benefit_applications.order('start_on DESC').each do |application| %>
          <tr>
            <td class="py-status"><%= radio_button_tag 'plan_year_radio', application.id, false, status: application.aasm_state.to_s  %></td>
            <td><%= (application.start_on.to_date) %></td>
            <td><%= (application.end_on.to_date) %></td>
            <td><%= (application.open_enrollment_period.begin.to_date) %></td>
            <td><%= (application.open_enrollment_period.end.to_date) %></td>
            <td><%= (application.created_at.to_datetime) %></td>
            <td><%= (application.terminated_on.to_datetime) if application.terminated_on.present? %></td>
            <td><%= benefit_application_summarized_state(application) %></td>
            <td colspan="1">
              <div class="btn-group" id="plan-year-btn-group">
                <button type="button" class="btn btn-default dropdown-toggle disabled py-btn-grp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="padding:10px">
                    <li onclick="pyAction('cancel','<%= application.id %>', '<%= @benefit_sponsorship.id %>', '0', '<%= application.start_on.to_date.to_s %>')" class="cancel-py btn btn-default btn-block"><%= l10n("exchange.employer_applications.cancel") %></li>
                    <li onclick="pyAction('terminate','<%= application.id %>', '<%= @benefit_sponsorship.id %>', '0', '<%= application.start_on.to_date.to_s %>')" class="terminate-py btn btn-default btn-block"><%= l10n("exchange.employer_applications.terminate") %></li>
                    <!-- <li onclick="pyAction('reinstate', '<%= application.id %>', '<%= @benefit_sponsorship.id %>', '<%= application.terminated_on %>', '')" class="reinstate-py btn btn-default btn-block"><%= l10n("exchange.employer_applications.reinstate") %></li> -->
                    <%if policy_helper(HbxProfile).can_generate_v2_xml? %>
                      <li onclick="pyAction('generate_v2_xml','<%= application.id %>', '<%= @benefit_sponsorship.id %>', '0', '<%= application.start_on.to_date.to_s %>')"  class="generate-v2-xml-py btn btn-default btn-block"><%= l10n("exchange.employer_applications.generate_v2_xml") %></li>
                    <%end%>
                </ul>
              </div>
              
            </td>
          </tr>
          <% @reasons = BenefitSponsors::BenefitApplications::BenefitApplication::VOLUNTARY_TERM_REASONS %>
          <tr id="<%= application.id %>" class="plan-year-actions hidden">
            <td colspan="2">
              <div class="term_action_radios hidden">
                <%= radio_button_tag 'term_actions', 'voluntary', true, onclick: "addTermReasons(this, '#{application.id}')" %> <%= l10n("exchange.employer_applications.voluntary_term") %> <br />
                <%= radio_button_tag 'term_actions', 'nonpayment',nil, onclick: "addTermReasons(this, '#{application.id}')" %> <%= l10n("exchange.employer_applications.non_payment_term") %>
              </div>
            </td>
            <td colspan="2">
              <div class="term_action_radios hidden">
                <%= select_tag "term_reason_#{application.id}", options_for_select(@reasons), onchange: "validateFormat('#{application.id}', '#{TimeKeeper.format_date(application.start_on)}', '#{TimeKeeper.format_date(application.end_on + 1.day)}')", include_blank: l10n("exchange.employer_applications.select_term_reason") %>
              </div>
            </td>
            <td colspan="2">
              <div class="cancel_action_inputs">
                <input type="text" class="uidatepicker form-control date py-end-date" style="width:120px" placeholder="Select Term Date" id="date_picker_<%= application.id %>" onchange="validateFormat('<%= application.id %>', '<%= TimeKeeper.format_date(application.start_on) %>', '<%= TimeKeeper.format_date(application.end_on + 1.day) %>')"> <span class="glyphicon glyphicon-calendar" id="calendar_icon" style="font-size:1.5em" aria-hidden="true" ></span>
              </div>
            </td>
            <td colspan="2">
              <div class="cancel_action_inputs">
                <%= check_box_tag 'transmit_to_carrier', 'transmit_to_carrier', true, disabled: true  %> <%= l10n("exchange.employer_applications.transmit_to_carrier") %>
              </div>
            </td>
            <td colspan="1">
              <div class="cancel_action_inputs">
                <button class="btn btn-primary btn-sm plan-year-submit" onclick="submitPlanActions()"><%= l10n("exchange.employer_applications.submit") %></button>
              </div>
            </td>
          </tr>
          <tr id="<%= application.id %>" class="v2_xml_inputs hidden">
            <td colspan="2">
              <div class="v2_xml_inputs hidden">
                <!-- Add a dropdown for actions here -->
                <select id="actions_dropdown_<%= application.id %>" name="event_type" placeholder='Event Type' onchange="v2DropDownEvents(this.value, '<%= application.id %>')">
                  <!-- Add the "v2 event type" label here -->
                  <option selected='selected'><%= l10n("exchange.employer_applications.v2_event_type")%></option>
                  <option value="benefit_coverage_initial_application_eligible"><%= l10n("exchange.employer_applications.benefit_coverage_initial_application_eligible") %></option>
                  <option value="benefit_coverage_renewal_application_eligible"><%= l10n("exchange.employer_applications.benefit_coverage_renewal_application_eligible") %></option>
                  <option value="benefit_coverage_renewal_carrier_dropped"><%= l10n("exchange.employer_applications.benefit_coverage_renewal_carrier_dropped") %></option>
                  <option value="benefit_coverage_mid_plan_year_initial_eligible"><%= l10n("exchange.employer_applications.benefit_coverage_mid_plan_year_initial_eligible") %></option>
                  <option value="benefit_coverage_period_terminated_voluntary"><%= l10n("exchange.employer_applications.benefit_coverage_period_terminated_voluntary") %></option>
                  <option value="benefit_coverage_period_terminated_nonpayment"><%= l10n("exchange.employer_applications.benefit_coverage_period_terminated_nonpayment") %></option>
                  <option value="benefit_coverage_period_reinstated"><%= l10n("exchange.employer_applications.benefit_coverage_period_reinstated") %></option>
                  <option value="address_changed"><%= l10n("exchange.employer_applications.address_changed")%></option>
                  <option value="contact_changed"><%= l10n("exchange.employer_applications.contact_changed") %></option>
                  <option value="fein_corrected"><%= l10n("exchange.employer_applications.fein_corrected") %></option>
                  <option value="name_changed"><%= l10n("exchange.employer_applications.name_changed") %></option>
                  <option value="broker_added"><%= l10n("exchange.employer_applications.broker_added") %></option>
                  <option value="broker_terminated"><%= l10n("exchange.employer_applications.broker_terminated") %></option>
                  <option value="general_agent_added"><%= l10n("exchange.employer_applications.general_agent_added") %></option>
                  <option value="general_agent_terminated"><%= l10n("exchange.employer_applications.general_agent_terminated") %></option>
                </select>
              </div>
            </td>
            <td colspan="2">
              <!-- Blue Download button -->
              <div class="v2_xml_inputs hidden">
                <%= render partial: 'exchanges/employer_applications/download_v2_xml', locals: {application: application} %>
              </div>
            </td>
            <td colspan="5">
              <div class="upload-v2-xml-location v2_xml_inputs hidden">
                <%= link_to "<i class='fas fa-cloud-upload-alt' aria-hidden='true'></i> Upload V2 XML".html_safe, exchanges_employer_application_new_v2_xml_path(employer_id: @benefit_sponsorship.id, employer_application_id: application.id), remote: 'true', class: "btn btn-default" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2><%= l10n("exchange.employer_applications.no_valid_pys") %> <%= @benefit_sponsorship.profile.legal_name.titleize %></h2>
  <% end %>
</div>

<div class="attestation_form"></div>
</div>

<script type="text/javascript" charset="utf-8">
  initializeDataTables();
  jQuery('.buttons-csv').hide()
  jQuery('.buttons-excel').hide()
  function printDoc(id){
    var window_obj=window.open();
    window_obj.document.write($('#print_'+id).html());
    window_obj.print();
    window_obj.close();
  }
</script>