<% broker = @broker_roles.first %>
<% broker_agency_profile =  broker.broker_agency_profile %>
<%= link_to broker_agency_profile.legal_name, '#', data: {toggle: "modal", target: "#broker_show_#{broker.id}"} %>

<div class="modal fade" id="broker_show_<%= broker.id %>" tabindex="-1" role="dialog" aria-labelledby="brokerShow" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<!-- Modal Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><%= broker.person.full_name %></h4>
			</div>

			<!-- Modal Body -->
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-4"  style="padding-top: 12px;" >
									<span class="bg-title"><%= broker.person.full_name %></span>
									<span class="tt-u"><%= broker_agency_profile.legal_name %></span>
								</div>
								<div class="col-xs-8">
									<table class="table">
										<tbody>
										<tr>
											<td>
												<header>
													<% if broker_agency_profile.office_locations.any? %>
														<%= broker_agency_profile.primary_office_location.address.address_1 %><br/>
														<%= broker_agency_profile.primary_office_location.address.city %>,
														<%= broker_agency_profile.primary_office_location.address.state %>
														<%= broker_agency_profile.primary_office_location.address.zip %>
													<% else %>
														No Address
													<% end %>
												</header>
											</td>
											<td>
												<% if broker.phone %>
													<i class="fa fa-phone"></i> <%= broker.phone.to_s %>
												<% else %>
													<i class="fa fa-phone"></i> No Phone Number
												<% end %>
												<br/>
												<i class="fa fa-at"></i>
												<a href="mailto:<%= broker.email.address %>">
													<%= broker.email.address %>
												</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-6">
									New Clients: <%= broker_agency_profile.accept_new_clients? ? 'Yes' : 'No' %>
									<br/>
									Weekend/Evening Hours: <%= broker_agency_profile.working_hours? ? 'Yes' : 'No' %>
								</div>
								<div class="col-xs-6">
									Language: <%= broker_agency_profile.languages %>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Modal Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>

		</div>
	</div>
</div>
