<% dependents = @census_employee.try(:employee_role).try(:person).try(:primary_family).try(:active_family_members) || @census_employee.census_dependents %>
<% address =  @census_employee.try(:employee_role).try(:person).try(:addresses).try(:last) || @census_employee.address %>
<div class="col-xs-12">
  <h1><%= l10n('employers.census_employees.ce_details')%></h1>
  <div class="row">
    <div class="col-xs-6">
      <h4><%= name_to_listing(@census_employee) %><%= l10n('employers.census_employees.ce_detail') %></h4>
      <div class="form-border">
        <p>
          <%= l10n('name') %>:
          <%= name_to_listing(@census_employee) %>
          <br/>
          <%= l10n('dob') %>:
          <%= format_date @census_employee.dob %>
          <br/>
          <%= l10n('hired_on') %>:
          <%= format_date @census_employee.hired_on %>
          <br/>
          Owner:
          <%= @census_employee.try(:is_business_owner) ? "Yes" : "No" %>
        </p>
      </div>
    </div>
    <div class="col-xs-6">
      <h4><%= l10n('address') %></h4>
      <div class="form-border">
        <% if address.present? %>
        <%= address.to_html %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">


    <div class="col-xs-6">
      <h4><%= l10n('medical_plan') %></h4>
      <div class="form-border">
        <p><%= l10n('benefit_group') %>: <%= @benefit_group.try(:title) %></p>
        <% if @benefit_group_assignment.try(:coverage_waived?) %>
        <p><%= l10n('enrollment_status') %>: Coverage Waived</p>
        <p><%= l10n('waiver_reason') %>: <%= @hbx_enrollment.try(:waiver_reason) %></p>
        <% elsif @benefit_group_assignment.try(:coverage_selected?) %>
        <p><%= l10n('plan_name') %>: <%= @hbx_enrollment.try(:plan).try(:name) %></p>
        <p><%= l10n('plan_start') %>: <%= @hbx_enrollment.try(:effective_on) %></p>
        <% if @census_employee.employee_role.try(:present?) && employee_role = @census_employee.employee_role %>
        <p><%= l10n('hired').to_s.upcase %>: <%= employee_role.try(:hired_on) %></p>
        <% end %>
        <% if @plan.present? && @hbx_enrollment.present? %>

      </div>
      <div class="table-border table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= l10n('name') %></th>
              <th><%= l10n('relationship') %></th>
              <th><%= l10n('age') %></th>
              <th><%= l10n('premium') %></th>
              <th><%= l10n('employer_contribution') %></th>
              <th><%= l10n('you_pay') %></th>
            </tr>
          </thead>

            <tbody>
              <!-- <%# @hbx_enrollment.hbx_enrollment_members.each do |member| %>
                <tr>
                  <td><%= member.person.full_name %></td>
                  <td><%= member.primary_relationship %></td>
                  <td><%= dob_in_words(member.person.age_on(TimeKeeper.date_of_record), member.person.dob) %></td>
                  <td><%= number_to_currency(@plan.premium_for(member)) %></td>
                  <td><%= number_to_currency(@plan.employer_contribution_for(member)) %></td>
                  <td><%= number_to_currency(@plan.employee_cost_for(member)) %></td>
                </tr>
              <%# end %> -->
              <tr class="gray-row">
                <td class="capital"><strong><%= l10n('totals') %></strong></td>
                <td></td>
                <td></td>
                <td><strong><%= number_to_currency(@plan.total_premium) %></strong></td>
                <td><strong><%= number_to_currency(@plan.total_employer_contribution) %></strong></td>
                <td><strong><%= number_to_currency(@plan.total_employee_cost) %></strong></td>

              </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-xs-6">
      <h4><%= l10n('dependent').to_s.pluralize %></h4>
      <div class="form-border">
        <% if dependents.present? %>
        <table style='width:100%;'>

          <% dependents.each do |dependent| %>
          <% if dependent.relationship == "self" && dependents.count == 1 %>
          <h4><%= l10n('employers.census_employees.no_dep_msg_this_time') %></h4>
          <% else %>
            <tr>
              <th><%= l10n('name') %></th>
              <th><%= l10n('dob') %></th>
              <th><%= l10n('relationship') %></th>
              <th><%= l10n('gender') %></th>
            </tr>
          <tr>
            <td>
              <%= dependent.first_name + " " + dependent.last_name %>
            </td>
            <td>
              <%= format_date dependent.dob %>
            </td>
            <td>
              <% relationship = dependent.try(:relationship) || dependent.try(:employee_relationship) %>
              <%= relationship == "child_under_26" ? "child" : relationship %>
            </td>
            <td>
              <%= dependent.gender %>
            </td>
          </tr>
          <% end %>
          <% end %>
        </table>

        <% else %>
        <h4><%= l10n('employers.census_employees.no_dep_msg') %></h4>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>

</div>
<br><br>
<div class="col-xs-12">
  <br/>
<%= link_to l10n('back').html_safe, 'javascript:;', class: 'btn btn-default return_to_employee_roster' %>
</div>
