<h3><%= l10n('employers.people.pii') %></h3>

<div class="row no-buffer">
  <div id="personal_info" class="focus_effect personal-info-row module">
    <div class="col-md-12 no-pd col-sm-12 col-xs-12 first">
      <%= hidden_field "people","id" %>

      <div class="row top-row">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :first_name, class: "required floatlabel form-control", required: true, placeholder: "#{l10n('first_name').to_s.upcase}", autocomplete: off %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :middle_name, class: "floatlabel form-control", placeholder: "#{l10n('middle_name').to_s.upcase}", autocomplete: off %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :last_name, class: "required floatlabel form-control", required: true, placeholder: "#{l10n('last_name').to_s.upcase}", autocomplete: :off %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <div class="selectric-labeled">
            <span><strong><%= l10n('suffix') %></strong></span>
            <%= f.select :name_sfx, [ 'Jr.', 'Sr.', 'II', 'III', 'IV', 'V' ], :include_blank => 'NONE', class: "floatlabel form-control", autocomplete: :off %>
          </div>
        </div>
      </div>

      <div class="row bottom-row form-group form-group-lg no-pd">
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= datepicker_control f, :dob, {:class => "floatlabel form-control", :placeholder => "#{l10n('date_of_birth').to_s.upcase}",
                                           :'data-date-min' => "-110y", :'data-date-max' => "+0", :'data-date-format' => 'mm/dd/yy', required: true} %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12 form-group form-group-lg no-pd">
          <%= f.text_field :ssn, placeholder: "#{l10n('social_security').to_s.upcase}", class: "required floatlabel form-control", required: true %>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label>
              <%= f.radio_button :gender, "male", required: true, checked: true, class: "required floatlabel" %>
              <span><%= l10n('male') %></span>
            </label>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 form-group form-group-lg no-pd">
          <div class="radio skinned-form-controls skinned-form-controls-mac">
            <label>
              <%= f.radio_button :gender, "female", required: true, class: "required floatlabel"  %>
              <span><%= l10n('female') %></span>
            </label>
          </div>
        </div>
      </div>

      <div class="overlay-in"></div>
    </div>
  </div>
</div>

<div class="row top-buffer">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <p class="top-pad">
      <button type="submit" class="btn btn-primary btn-search"><i class="fa fa-user-plus"></i> <%= l10n('search_person') %></button>
      &nbsp;<span><i class="fa fa-lock icon-large"></i> <%= l10n('secure_your_info') %></span>
    </p>
    <br>
  </div>
</div>

<div id ="person_details_wrapper"></div><br><br>

<div id ="new_person_button" style="display:none">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <p> <%= l10n('create_person_button') %>
        <%= f.submit l10n('create_person'), name: "create_person", class: "btn btn-primary btn-search" %>
      </p>
    </div>
  </div>
</div>

<script>
	$(document).on('ready page:load', function () {
		Freebies.allFreebies();
	});
</script>
