<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-6 panel">
      <div class="col-xs-9">
        <div class="panel-heading row">
          <h3><%= l10n('employers.plan_years.app_deadline') %></h3>
        </div>
        <div class="panel-body row">
          <p>
            <%= l10n('employers.plan_years.application_submission_text') %>
          </p>
        </div>
      </div>
      <div class="col-xs-3">
        <span class="icon-calendar-large icon-calendar-large-dims">
          <%if individual_market_is_enabled? %>
            <h3 class="day">
              <%= @schedule[:employer_initial_application_latest_submit_on].strftime("%e") %>
            </h3>
            <span class="month">
              <%= @schedule[:employer_initial_application_latest_submit_on].strftime("%B") %>
            </span>
          <%else%>
            <h3 class="day">
              <%= @schedule[:advertised_due_date_of_month].strftime("%e") %>
            </h3>
            <span class="month">
              <%= @schedule[:advertised_due_date_of_month].strftime("%B") %>
            </span>
          <%end%>
        </span>
      </div>

    </div>
    <div class="col-xs-6 panel">
      <div class="col-xs-9">
        <div class="panel-heading row">
          <h3><%= l10n('employers.plan_years.payment_deadline') %></h3>
        </div>
        <div class="panel-body row">
          <p>
            <%= l10n('employers.plan_years.payment_due_text') %>
          </p>
        </div>
      </div>
      <div class="col-xs-3">
        <span class="icon-calendar-large icon-calendar-large-dims">
          <h3 class="day">
            <%= @open_enrollment_dates[:binder_payment_due_date].strftime("%e") %>
          </h3>
          <span class="month">
            <%= @open_enrollment_dates[:binder_payment_due_date].strftime("%B") %>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-3 pull-right">
  <div class="row <%= pundit_class EmployerProfile,:updateable? %>">
    <a class="btn btn-primary btn-lg btn-block  pull-right interaction-click-control-continue" onclick="$('#choose-coverage').hide();$('.benefits-setup-tab').fadeIn();$('#plan_year_benefit_groups_attributes_0_title').focus();$(window).scrollTop(0);"><%= l10n('continue') %></a>
  </div>
  <br/><br/><br/>
</div>

<div class="table-responsive" style="display: none;">
  <table class="table table-border">
    <tr>
      <td><%= l10n('employers.plan_years.er_app_start_on') %></td>
      <td>:</td>
      <td><%= @schedule[:employer_initial_application_earliest_start_on].to_s %></td>
    </tr>
    <tr>
      <td><%= l10n('employers.plan_years.er_app_submit_on') %></td>
      <td>:</td>
      <td><%= @schedule[:employer_initial_application_earliest_submit_on].to_s %></td>
    </tr>
    <tr>
      <td><%= l10n('employers.plan_years.er_app_latest_submit_on') %></td>
      <td>:</td>
      <td><%= @schedule[:advertised_due_date_of_month].to_s %></td>
    </tr>
    <tr>
      <td><%= l10n('employers.plan_years.binder_payment_date') %></td>
      <td>:</td>
      <td><%= @open_enrollment_dates[:binder_payment_due_date].to_s %></td>
    </tr>
  </table>
</div>
