<div class="modal" id="revertPlanYear_<%= plan_year.id %>" tabindex="-1" role="dialog" role="document">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= l10n('hbx_profiles.confirm') %> <%= l10n('revert_py') %></h4>
      </div>
      <div class="modal-body">
        <p>
          <%= l10n('employers.plan_years.py_revert_to_draft') %>
          <br/><br/>
          <strong>
            <%= l10n('hbx_profiles.warning') %>
          </strong>
          <%= l10n('employers.plan_years.py_reverted_text') %>
        </p>
        <ul class="application-warnings"></ul>
      </div>
      <div class="modal-footer">
        <%= link_to l10n('revert_py'), employers_employer_profile_plan_year_revert_path(@employer_profile, plan_year_id: plan_year.id ), method: :post, remote: true, class: "btn btn-primary mtz  btn-small"%>
        <span class="btn btn-default btn-small" data-dismiss="modal"><%= l10n('cancel') %></span>
      </div>
    </div>
  </div>
</div>
