<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Employee Cost' %>
    </title>
  </head>
  <%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% employees = @employee_costs.first[:employees] %>
  <div class="module broker_quote_tool">
    <div class="pdf-body">
      <div class="row">
        <div class="col-md-12">
          <%head_pos=0%>
          <%tail_pos=3%>
  <% employees.each_slice(4) do |sub_employees| %>          
  <table style="margin-bottom:15px;" class="ee-costs-table table-wrapper">
    <thead>
      <tr>
        <th style="padding-right: 250px;">Enrollment Options</th>
        <% sub_employees.each do |employee| %>
          <th><%= employee[:name] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr class="employer-row-bg">
        <td> Enroll/Waive </td>
        <% sub_employees.each do |employee| %>
        <th><%= employee[:expected_selection]&.humanize %></th>
        <% end %>
      </tr>

      <tr class="employer-row-bg">
        <td>Employer Benchmark Contribution</td>
        <% sub_employees.each do |employee| %>
          <td><%= employee[:sponsor_contribution_total].round(2) %></td>
        <% end %>
      </tr>

      <% @employee_costs.each do |product_info| %>
        <tr>
          <td><%= product_info[:product_name] %></td>
          <% product_info[:employees][head_pos..tail_pos].each do |employee| %>
            <td><%= (employee[:product_cost_total] - employee[:sponsor_contribution_total]).round(2) %></td>
          <% end %>
        </tr>
      <% end %>      
    </tbody>
        <% head_pos=head_pos+4 %>
        <% tail_pos=tail_pos+4 %>    
  </table>
  
  <% end %>
        </div>
      </div>
    </div>
  </div>

  <body class="pdf">
  </body>
</html>
