<% reference_product = @employee_costs_result[:reference_product] %>
<% employer_costs = @employee_costs_result[:employer_estimated_costs] %>
<% plan_kind = reference_product._type == "BenefitMarkets::Products::HealthProducts::HealthProduct" ?
                 reference_product.health_plan_kind :  reference_product.dental_plan_kind %>

<h2>Benefit Package Set Up</h2>

<% employees = @employee_costs.first[:employees] %>

<div class="panel col-md-12 col-xs-12">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-8">
        <h3 class="heading-text mt-0"><%= reference_product.title %></h3>
      </div>
      <div class="col-xs-4">
      </div>
    </div>
    <div class="row">
      <table class="table">
        <tbody>
        <tr>
          <th>Type</th>
          <th>Carrier</th>
          <th>Metal Level</th>
          <th>Network</th>
        </tr>
        <tr>
          <td><%= plan_kind %></td>
          <td><%= reference_product.issuer_profile.legal_name %></td>
          <td><%= reference_product.metal_level_kind %></td>
          <td>Plan Network</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <h4 class="pl-1">Your Estimated Monthly Cost</h4>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <h2 class="mt-0 heading-text" id="estimatedERCost"><%= number_to_currency(employer_costs[:estimated_sponsor_exposure]) %>
        </h2>
      </div>
      <div class="col-xs-3">
        Estimated monthly cost including all roster employees
      </div>
      <div class="col-xs-2">
        <strong class="mb-1">Min</strong>
        <br />
        <span id="estimatedEEMin"><%= number_to_currency(employer_costs[:estimated_enrollee_minimum]) %>
            </span>
      </div>
      <div class="col-xs-2">
        <strong class="mb-1">Max</strong>
        <br />
        <span id="estimatedEEMax"><%= number_to_currency(employer_costs[:estimated_enrollee_maximum]) %>
            </span>
      </div>
    </div>
  </div>
</div>

<div>
  <table class="ee-costs-table table-wrapper">
    <thead>
      <tr>
        <th style="padding-right: 250px;">Enrollment Options</th>
        <% employees.each do |employee| %>
          <th><%= employee[:name] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr class="employer-row-bg">
        <td style="background: #d6cece;"><strong>Enroll/Waive</strong></td>
        <% employees.each do |employee| %>
        <th><strong><%= employee[:expected_selection]&.humanize %></strong></th>
        <% end %>
      </tr>

      <tr class="employer-row-bg">
        <td style="background: #d6cece;"><strong>Employer Benchmark Contribution <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Employer Benchmark Contribution"></i></strong></td>
        <% employees.each do |employee| %>
          <td><strong><%= number_to_currency(employee[:sponsor_contribution_total]) %></strong></td>
        <% end %>
      </tr>

      <% @employee_costs.each do |product_info| %>
        <tr>
          <td><%= product_info[:product_name] %></td>
          <% product_info[:employees].each do |employee| %>
            <td><%= number_to_currency(employee[:product_cost_total] - employee[:sponsor_contribution_total]) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="paginator">
    <%= paginate @employee_costs, :param_name => :page %>
  </div>
</div>

<%= link_to 'Return to Plan Selection', edit_benefit_sponsorship_benefit_application_benefit_package_path(@benefit_sponsorship, @benefit_application, @benefit_package, :show_benefit_application_tile => false), method: :get, class: 'btn btn-default mb-1' %>

<style type="text/css">
  .ee-costs-table {
    display: block;
    width: 100%;
    table-layout: fixed;
  }

  .ee-costs-table th:first-child, .ee-costs-table td:first-child {
    position: sticky;
    left: 0;
    color: #373737;
    background: white;
  }

  .table-wrapper {
    overflow-x: scroll;
    margin: 0 auto;
  }

  .employer-row-bg {
    background: #d6cece;
  }
</style>
