<h2>Benefit Package Set Up</h2>

<% employees = @employee_costs.first[:employees] %>

<div>
  <table class="ee-costs-table table-wrapper">
    <thead>
      <tr>
        <th style="padding-right: 250px;">Enrollment Options</th>
        <% employees.each do |employee| %>
          <th><%= employee[:name] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr class="employer-row-bg">
        <td style="background: #d6cece;"> Enroll/Waive </td>
        <% employees.each do |employee| %>
        <th><%= employee[:expected_selection]&.humanize %></th>
        <% end %>
      </tr>

      <tr class="employer-row-bg">
        <td style="background: #d6cece;">Employer Benchmark Contribution</td>
        <% employees.each do |employee| %>
          <td><%= employee[:sponsor_contribution_total].round(2) %></td>
        <% end %>
      </tr>

      <% @employee_costs.each do |product_info| %>
        <tr>
          <td><%= product_info[:product_name] %></td>
          <% product_info[:employees].each do |employee| %>
            <td><%= (employee[:product_cost_total] - employee[:sponsor_contribution_total]).round(2) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="paginator">
    <%= paginate @employee_costs, :param_name => :page %>
  </div>
</div>



<style type="text/css">
  .ee-costs-table {
    display: block;
    width: 100%;
    table-layout: fixed;
  }

  .ee-costs-table th:first-child, .ee-costs-table td:first-child {
    position: sticky;
    left: 0;
    color: #373737;
    background: white;
    width: 50px;
  }

  .table-wrapper {
    overflow-x: scroll;
    margin: 0 auto;
  }

  .employer-row-bg {
    background: #d6cece;
  }
</style>
