<div class="container">
  <div class="panel col-md-12 col-xs-12">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-8">
          <h3 class="heading-text mt-0"><%= @reference_plan.name %></h3>
        </div>
        <div class="col-xs-4">
        </div>
      </div>
      <div class="row">
        <table class="table">
          <tbody>
          <tr>
            <th>Type</th>
            <th>Carrier</th>
            <th>Metal Level</th>
            <th>Network</th>
          </tr>
          <tr>
            <td><%= @reference_plan.plan_type.upcase %></td>
            <td><%= @reference_plan.carrier_profile.legal_name %></td>
            <td><%= @reference_plan.metal_level.capitalize %></td>
            <td>Plan Network</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <h4 class="pl-1">Your Estimated Monthly Cost</h4>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <h2 class="mt-0 heading-text" id="estimatedERCost"><%= number_to_currency(@benefit_group.monthly_employer_contribution_amount) %>
          </h2>
        </div>
        <div class="col-xs-3">
          Estimated monthly cost including all roster employees
        </div>
        <div class="col-xs-2">
          <strong class="mb-1">Min</strong>
          <br />
          <span id="estimatedEEMin"><%= number_to_currency(@plan_cost_service.monthly_min_employee_cost) %>
            </span>
        </div>
        <div class="col-xs-2">
          <strong class="mb-1">Max</strong>
          <br />
          <span id="estimatedEEMax"><%= number_to_currency(@plan_cost_service.monthly_max_employee_cost) %>
            </span>
        </div>
      </div>
    </div>
  </div>
  <% if @benefit_group.dental_reference_plan.present? %>
    <div class="panel col-md-12 col-xs-12">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-8">
            <h3 class="heading-text mt-0"><%= @dental_reference_plan.name %></h3>
          </div>
          <div class="col-xs-4">
          </div>
        </div>
        <div class="row">
          <table class="table">
            <tbody>
            <tr>
              <th>Type</th>
              <th>Carrier</th>
              <th>Metal Level</th>
              <th>Network</th>
            </tr>
            <tr>
              <td><%= @dental_reference_plan.plan_type.upcase %></td>
              <td><%= @dental_reference_plan.carrier_profile.legal_name %></td>
              <td><%= @dental_reference_plan.metal_level.capitalize %></td>
              <td>Plan Network</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <h4 class="pl-1">Your Estimated Monthly Cost</h4>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <h2 class="mt-0 heading-text" id="estimatedERCost"><%= number_to_currency(@plan_cost_service.monthly_employer_contribution_amount(@dental_plan)) %>
            </h2>
          </div>
          <div class="col-xs-3">
            Estimated monthly cost including all roster employees
          </div>
          <div class="col-xs-2">
            <strong class="mb-1">Min</strong>
            <br />
            <span id="estimatedEEMin"><%= number_to_currency(@plan_cost_service.monthly_min_employee_cost(@dental_plan)) %>
            </span>
          </div>
          <div class="col-xs-2">
            <strong class="mb-1">Max</strong>
            <br />
            <span id="estimatedEEMax"><%= number_to_currency(@plan_cost_service.monthly_max_employee_cost(@dental_plan)) %>
            </span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="pull-left">
    <%= link_to 'Return to Plan Selection', sponsored_benefits.new_organizations_plan_design_proposal_plan_selection_path(@plan_design_proposal), class:'btn btn-primary' %>
  </div>
</div>

