<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Employee Cost' %>
    </title>
  </head>
  <%= wicked_pdf_stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= wicked_pdf_javascript_include_tag "application", "data-turbolinks-track" => true %>
  
    <div>
    <% employees = @employee_costs.first[:employees] %>
    <table class="ee-costs-table table-wrapper">
      <thead>
      <tr>
        <th style="padding-right: 250px;">Enrollment Options</th>
        <% employees.each do |employee| %>
          <th><%= employee[:name] %></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <tr class="employer-row-bg">
        <td style="background: #d6cece;"><strong>Enroll/Waive</strong></td>
        <% employees.each do |employee| %>
          <th><strong><%= employee[:expected_selection]&.humanize %></strong></th>
        <% end %>
      </tr>

      <tr class="employer-row-bg">
        <td style="background: #d6cece;"><strong>Employer Benchmark Contribution <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="right" title="Employer Benchmark Contribution"></i></strong></td>
        <% employees.each do |employee| %>
          <td><strong><%= number_to_currency(employee[:sponsor_contribution_total]) %></strong></td>
        <% end %>
      </tr>

      <% @employee_costs.each do |product_info| %>
        <tr>
          <td><%= "<b>(Reference Plan)</b><br/>".html_safe if @reference_plan.id.eql?(product_info[:product_id]) %><%= product_info[:product_name] %></td>
          <% product_info[:employees].each do |employee| %>
            <td><%= number_to_currency(employee[:employee_contribution_total]) %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  

  <body class="pdf">
  </body>
</html>
